<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MIP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42EA289820E0D0E8004A9878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42EA28AF20E0D0EA004A9878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42EA28BA20E0D0EA004A9878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
