<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CognitoUserPool</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>CognitoUserPoolAppClientId</key>
				<string>6m4s8ut8mr31d7on9h1p1d3m56</string>
				<key>CognitoUserPoolAppClientSecret</key>
				<string>agm0oo3bes7gol8ut0n6m9nbcnh7nhs2f743qbqtao2glqs8llj</string>
				<key>CognitoUserPoolId</key>
				<string>eu-west-1_WcuUpSdo3</string>
				<key>Region</key>
				<string>eu-west-1</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>eu-west-1:dc5d1ade-5d32-4d2e-b3a2-42423b84e124</string>
					<key>Region</key>
					<string>eu-west-1</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub 974c1838-2e5b-49ba-b4f0-dbe353f66dfe aws-my-sample-app-ios-swift-v0.21</string>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MoveInSaclay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiYWJlbnlhaHlhIiwiYSI6ImNqZ2NudmwyeDA3dmoyeXRjZDNxdzJjNG8ifQ.aLaB9pXgQJuKcMfbSYkfvQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Dans le cadre du programme #MoveInSaclay, nous aurions besoin de vos positions GPS afin de comprendre votre mobilité et pouvoir vous assister avec la navigation GPS : Autorisation "Toujours".</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Dans le cadre du programme #MoveInSaclay, nous aurions besoin de vos positions GPS afin de comprendre votre mobilité et pouvoir vous assister avec la navigation GPS : Autorisation "Toujours".</string>
	<key>NSLocationUsageDescription</key>
	<string>Dans le cadre du programme #MoveInSaclay, nous aurions besoin de vos positions GPS afin de comprendre votre mobilité et pouvoir vous assister avec la navigation GPS : Autorisation "Toujours".</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dans le cadre du programme #MoveInSaclay, nous aurions besoin de vos positions GPS afin de comprendre votre mobilité et pouvoir vous assister avec la navigation GPS : Autorisation "Toujours".</string>
	<key>NSMotionUsageDescription</key>
	<string>Dans le cadre du programme #MoveInSaclay, nous voudrions savoir quel mode de transport vous utilisez, dont l'usage de vos données de capteur "motion".</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
